* {
  box-sizing: border-box;

  /* Quick Reset */
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  padding: 25px;
}

header {
  border-bottom: 1px solid grey;
  margin-bottom: 25px;
}

p {
  padding: 5px;
}

img {
  width: 100%;
}

footer {
  margin-top: 10px;
}

/* Card */
.card {
  padding: 10px;

  -webkit-box-shadow: 0px 0px 10px -3px rgba(5, 30, 255, 1);
  -moz-box-shadow: 0px 0px 10px -3px rgba(5, 30, 255, 1);
  box-shadow: 0px 0px 10px -3px rgba(5, 30, 255, 1);
}

.card-heading {
  font-variant: small-caps;
  text-shadow: 1px 1px #0045ac;
  letter-spacing: 2px;
}

.card-img {
  height: 200px;
}

.soon {
  background-color: rgb(180, 180, 180);
}

.coming-soon {
  font-size: 1.1em;
  color: maroon;
}

.main-content {
  padding: 10px;
}

/* Navigation */
li {
  list-style-type: none;
  padding: 5px 5px 10px 5px;
}

a {
  text-decoration: none;
}

.nav-item:hover:not(.current) {
  font-size: 1.1em;
}

a:hover {
  text-decoration: underline;
}

.nav-item:active:not(.current) {
  color: rgb(189, 108, 76);
}

/* Subscription  */
.subscribe-txt {
  font-style: italic;
}

.subscribe-btn {
  padding: 2px;
  border-radius: 5px;
}

.subscribe-btn:hover {
  border: 1px solid black;
  cursor: pointer;
}

/* Social Media */
.socials {
  padding: 5px;
}

.social {
  margin: 5px;
  width: 1.75em;
}

/* blog styles */

.blog-main {
  margin-top: 10px;
}

blockquote {
  margin: 5px;
  padding: 5px;
  background-color: rgb(247, 212, 212);
}

#about {
  margin-top: 25px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}

.pad-10 {
  padding: 0 10px 10px;
}

.bio-img {
  margin-top: 10px;
  width: 60%;
}

.bio-para {
  padding: 10px;
}

.art-heading {
  margin-top: 25px;
}

/* Media Queries */
@media (min-width: 600px) {
  .card-img {
    height: 100%;
  }

  .bio-img {
    width: 250px;
  }

  .blog-img {
    height: 250px;
  }

  .blog-para2,
  .blog-para3 {
    padding: 0 25px;
  }

  .bio-para {
    padding: 0 50px;
  }
}

@media (min-width: 900px) {
  .card-img {
    max-height: 250px;
  }

  .blog-img {
    max-width: 750px;
  }

  .bio-para {
    padding: 0 125px;
  }
}

@media (min-width: 1120px) {
  .main-content {
    padding: 25px;
  }

  .bio-para {
    padding: 0 250px;
  }
}
